<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Pokemon App!</title>
</head>
<body>
    <h1>See all the Pokemon!</h1>
    <a href="/">HomePage</a>
    <a href="/pokemon/x"></a>
    <ul>
        <% data.map( (pokemon, index) => { %>
            <img src=<%=pokemon.img[0]%> />
            <li>
                <%= pokemon.name.replace(/\w/, c => c.toUpperCase()) %>
                
            </li>
        <% })%>
    </ul>
</body>
</html>